/* Navbar CSS generated here: http://work.smarchal.com/twbscolor/index.php */

.navbar-default {
  background-color: #1F4995;;
  border-color: #CB333B;
  border-bottom-width: 3px;
  min-height:80px;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #CB333B;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #003087;
}
.navbar-default .navbar-toggle {
<<<<<<< HEAD
  border-color: #003087;
=======
  border-color: #CB333B;
>>>>>>> origin/master
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #003087;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #CB333B;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #CB333B;
}
.navbar-default .navbar-link {
  color: #888888;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

.nav {
    position: absolute;
    bottom: 0;
    left: 370px;
    margin-bottom: 0px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #888888;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #003087;
  }
}

/***********************************************************/

.navbar-brand img{
	max-width: 80%;
	margin-top: -6px;
	margin-left: 10px;
}


/***********************************************************/

.landing-bg-img{
	background: url('images/site/Homepage Background_no_text.jpg');
	background-size: 100%;
	background-repeat: repeat-x;
}
.landing-bg-img-mobile{
	background: url('images/site/Homepage Background_mobile.jpg');
	background-size: 100%;
	background-repeat: repeat-x;
}

.landing-text{
	padding: 0em 3em 0em 3em;
	color: #000000;
}

@media (min-width: 768px){
	.landing-text-spacer{
		width: 60%;
	}

	.landing-text{
		color: #000000;
	}
}

@media (min-width: 992px){
	.landing-text-spacer{
		width: 100%;
	}
}

.overview{
	padding: 1em 2em 5em 2em;
}

@media (min-width: 768px){
	.member-photo{
		width: 50%;
		float: left;
	}
}

.member-profile-contents p{
	text-align: justify;
}

.member-profile-contents img{
	padding: 0em 1em 1em 0em;
}

.members h3{
  color: black;
    /*text-shadow:
    -0.5px -0.5px 0 #FFFFFF,
    0.5px -0.5px 0 #FFFFFF,
    -0.5px 0.5px 0 #FFFFFF,
    0.5px 0.5px 0 #FFFFFF;*/
}

.publications h3{
	background-color: #CB333B;
	border-top: thin dotted #1F4995;
	border-bottom: thin solid #1F4995;
	padding: 0.2em 0em 0.1em 0em;
  font-size: 170%;
  color: #1F4995
}

.publications h5{
	background-color: #eeb211;
	border-top: thin dotted #00254c;
	border-bottom: thin solid #00254c;
	padding: 0.2em 0em 0.1em 0em;
  font-size: 170%;
  color: #00254c
}

.publications h6{
	background-color: #7a0019;
	border-top: thin dotted #ffcc33;
	border-bottom: thin solid #ffcc33;
	padding: 0.2em 0em 0.1em 0em;
  font-size: 170%;
  color: #ffcc33
}

.divider{
	background-color: #D9666B;
	border-top: thin dotted #0A0B99;
	border-bottom: thin solid #0A0B99;
	padding: 0.2em 0em 0.1em 0em;
}

.publication{
	padding: 2em 2em 2em 2em;
}

.funding{
	font-size: 80%;
}

@media (max-width: 767px) {

	.publication{
		padding: 1em 1em 1em 1em;
	}

    .toc-graphic{
		display:none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .publication-row>.clear:nth-child(4n)::before {
      content: '';
      display: table;
      clear: both;
    }
}
@media (min-width: 992px) {
    .publication-row>.clear:nth-child(3n)::before {
      content: '';
      display: table;
      clear: both;
    }
}




/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 80px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;

  background-color: #1F4995;
  border-color: #CB333B;
  color: #ffffff;
}
